<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to  <%= title %></h1>
<p>
    <%= title %> is a cool module
</p>
</body>
</html>