<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/add" method="post">
      <label for="no1">First number:</label>
            <input type="number" id="no1" name="no1"><br><br>
      <label for="no2">Second number:</label>
            <input type="number" id="no2" name="no2"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
