.tabella {
    border: 1px solid black;
    margin: 5px;
    background-color: white;

    border-collapse: collapse;
}

.tabella th {
    border: 1px solid black;
    padding: 5px;
    background-color: #9db4f2;
    text-align: left;
}

.tabella td {
    padding: 5px;
    border: 1px solid black;
}
.tabella tr:nth-child(even) {
    background-color: #95f4d9;
}

.tabella tr:nth-child(odd) {
    background-color: white;
}

.allign {
    vertical-align: top;
}

#party-2, #party-3 {
    display: none;
}

.title_Block-3 {
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
    background-color: #51ca8f;

    font-size: 22px;
    text-align: center;
    text-transform:uppercase;
}

h3 {
    margin: 10px;
    font-size: 18px;
    text-align: left;
}

.p-party {
    margin: 5px;
    padding: 8px;
    background-color:#c1d4d1;
    border: 1px solid gray;

    font-size: 14;
    text-align: left;
    text-transform:capitalize;
}

.p-party:hover{
    background-color:#87bbba;
}

.btn {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 19px;
    border:0px;
    display: block;
    margin-left: auto;
    margin-right: 5;
}

.Block-1, .Block-2 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.Block-3{
    background-color: #7ae0af;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}


h1 {
    color:#163745;
    background: #99e36e;
    padding: 10px;
    border-radius: 5px;
}

.personaggio {
    background-color: #b7f9d9;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}

.personaggio h4 {
    font-size: 18px;
    text-align: center;
    margin: 10px;
    color:#163745;
}

.membri {
    padding: 10px;
    margin-bottom: 5px;
}

.membri p {
    margin: 5px;
    padding: 8px;
    background-color:white;

    font-size: 14;
    text-align: left;
    text-transform:capitalize;
}

.membri p:hover{
    background-color:#d3ff4f;
}
.membri div {
    background-color: #a6fad1;
    padding: 5px;
}