@import url("https://fonts.googleapis.com/css?family=Overlock:400,400i,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400&display=swap&subset=latin-ext");
html { font-family: Overlock, sans-serif; font-size: 5.5mm; margin: 0; line-height: 1; }

body { margin: 0; }

section { background-color: white; }

pre, code { font-family: Inconsolata, monospace; padding: 0; }

em { font-style: normal; text-decoration: underline; text-decoration-thickness: 0.05em; }

del { text-decoration: none; }

p.skip { padding-top: 1em; }

.margin-right { margin-right: 1rem !important; }

.right { display: block; float: right; }

.centered { text-align: center !important; }

.hl { background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, yellow); }

.bhl, del { background: #FFFF0040; margin: -0.5ex; padding: 0.5ex; border-radius: 0.5ex; }

.license { font-style: normal; font-size: 75%; }

.license-icon { float: left; margin-right: 4.125mm; }

a, a:visited { color: teal; text-decoration: none; text-decoration-color: #CCC; }

a:hover { color: white; background-color: teal; border-radius: 0.5ex; margin: 0.1ex -0.25ex; padding: 0.1ex 0.25ex; text-decoration: none; }

.smaller { font-size: smaller; }

.highlight .err { border: none !important; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #004080; margin: 0; }

h1 { font-size: 200%; padding: 0; }

h2 { font-size: 115%; margin-top: 2.75mm; }

h3 { font-weight: bold; font-size: 100%; margin-top: 2.75mm; }

.blue { color: #000080; }

.red { color: #800000; }

.green { color: #008000; }

.sezione { font-weight: bold; text-decoration: underline; }

.block { box-shadow: 1px 1px 3px gray; background-color: #DDD; border-radius: 1.375mm; padding: 2.75mm; margin: 2.75mm 0; }

.block > h2 { margin: -2.75mm; padding: 2.75mm; border-radius: 1.375mm 1.375mm 0 0; background-color: #800000; color: white; }

li { margin: 0.825mm 0 0 0; }

ol.bracketed { counter-reset: bracketed-list; }

ol.bracketed > li { list-style: none; }

ol.bracketed > li::before { content: "(" counter(bracketed-list) ") "; counter-increment: bracketed-list; display: inline-block; width: 1.5em; margin: 0 0.5em 0 -2em; text-align: right; }

ul.code { background-color: #EEE; padding: 0.5ex 2ex; border-radius: 1ex; }

ul.code ul { margin: 0; padding: 0 0 0 2ex; }

ul.code li { list-style: none; }

em.comment { font-style: normal; text-decoration: none; color: #008000; float: right; }

em.comment::before { content: "// "; }

table { border-collapse: collapse; margin-left: auto; margin-right: auto; }

tr { border-width: 1px; }

th, td { padding: 5px; border-style: solid; border-width: 1px; border-color: gray; }

.triangolare td:empty { border-style: none; }

.triangolare tbody > tr > td:first-child { border-style: none; }

.triangolare > tbody > tr:last-child > td { border-style: none; }

table.sdd { margin: 1em auto; border-style: solid none; }

table.sdd > thead > tr { border-style: none none solid none; }

table.sdd > * > tr > td, table.sdd th { border-style: none; }

table.sdd > * > tr > td:nth-child(2), table.sdd th:nth-child(2) { padding-left: 1rem; }

.parsing { margin: 1em auto; }

.parsing * > tr > *:first-child { border-width: 1pt 2pt 1pt 1pt; }

.parsing * > tr:first-child > th { border-width: 1pt 1pt 2pt 1pt; }

.parsing > *:first-child > tr:first-child > *:first-child { border-width: 0 1pt 1pt 0; }

.jvm { margin: 1em auto; }

.jvm > thead > tr > th { background-color: lightgray; }

.jvm > thead > tr > th:nth-child(1) { width: 5cm; }

.jvm > thead > tr > th:nth-child(2) { width: 2cm; }

.jvm > thead > tr > th:nth-child(3) { width: 2cm; }

.jvm > thead > tr > th:nth-child(4) { width: 8cm; }

.columns { display: flex; margin: 0; padding: 0; }

.columns div { flex: auto; margin: 0 1rem 0 0; padding: 0; }

.columns div:last-of-type { margin: 0; }

.columns .half { width: 50%; }

.row { display: flex; flex-direction: row; justify-content: space-around; }

.column { display: flex; flex-direction: column; justify-content: space-around; }

.graphviz { margin: 1ex auto !important; text-align: center !important; }

#parser-abc > tbody > tr > td:first-child { text-align: right; }

.reveal * { text-align: left; }

@media only screen { .columns { display: flex; margin: 0; padding: 0; } }

@media print { @page { size: A5 landscape; } section:last-of-type { page-break-after: avoid; } .block { box-shadow: none; } }

/*# sourceMappingURL=main.css.map */